{% extends 'layout.html' %}

{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-banking">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('web.main.index') }}">
            <img src="{{ url_for('static', filename='img/nvc-logo-white.png') }}" alt="NVC Banking Logo" height="30" class="me-2">
            <span>NVC Banking</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('web.main.dashboard') }}">
                        <i class="fas fa-home me-1"></i>Main Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'institutional.institutional_dashboard' %}active{% endif %}" href="{{ url_for('institutional.institutional_dashboard') }}">
                        <i class="fas fa-university me-1"></i>Institutional Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'institutional.create_institutional_account_route' %}active{% endif %}" href="{{ url_for('institutional.create_institutional_account_route') }}">
                        <i class="fas fa-building me-1"></i>New Institutional Account
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'institutional.create_correspondent_account_route' %}active{% endif %}" href="{{ url_for('institutional.create_correspondent_account_route') }}">
                        <i class="fas fa-handshake me-1"></i>New Correspondent Account
                    </a>
                </li>
            </ul>
            
            <div class="d-flex">
                {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle me-1"></i>{{ current_user.username }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('web.main.dashboard') }}"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('web.main.profile') }}"><i class="fas fa-user-cog me-2"></i>Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('web.main.logout') }}"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <a href="{{ url_for('web.main.login') }}" class="btn btn-outline-light me-2">
                    <i class="fas fa-sign-in-alt me-1"></i>Login
                </a>
                <a href="{{ url_for('web.main.register') }}" class="btn btn-primary">
                    <i class="fas fa-user-plus me-1"></i>Register
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}